{% extends "photos/main.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xl-3 mt-3">
      <div class="card">
        <div class="card-header">Categories</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="{% url 'gallery' %}">All</a>
          </li>
          {% for category in categories %}
            <li class="list-group-item">
              <a href="{% url 'gallery' %}?q={{ category.id }}">{{ category.name }}</a>
            </li>
          {% endfor %}
          <li class="list-group-item">
            <a href="{% url 'add-photo' %}" class="btn btn-dark btn-block btn-sm m-1">Add Photo</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xl-9">
      <div class="row">
        {% for photo in photos %}
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              {% if photo.image %}
                <img class="card-img-top img-fluid" src="{{ photo.image.url }}" alt="Photo">
              {% else %}
                <img class="card-img-top img-fluid" src="path/to/placeholder-image.jpg" alt="Placeholder">
              {% endif %}
              <div class="card-body d-flex flex-column">
                <small class="text-muted mb-2">Category: {{ photo.category.name }}</small>
                <a href="{% url 'view-photo' photo.id %}" class="btn btn-outline-dark btn-sm mt-auto">View</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
